* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --base: #2d4059;
  --base-light: #324b6b;
  --color-one: #ffd460;
  --color-tow: #ea5455;
  --color-text: #a8bec9;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: var(--base);
  position: relative;
}
.container {
  width: 80%;
  max-width: 600px;
  margin: auto;
}
.icon {
  width: 25px;
  height: 25px;
}
main {
  height: 100%;
  display: grid;
  place-items: center;
}
main .container {
  padding: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 3px;
}
.grid {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.grid > div {
  background-color: var(--base-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 100px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.restart {
  background-color: #aac1cb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  cursor: pointer;
}

.turn {
  background-color: var(--base-light);
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 600;
  color: #a8bec9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.xo {
  font-size: 25px;
  font-weight: 1000;
  display: flex;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.xo span:first-child {
  color: var(--color-tow);
}
.xo span:last-child {
  color: var(--color-one);
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  color: var(--base);
}
.footer > div div:first-child {
  font-size: 10px;
  font-weight: 600;
}
.footer > div div:last-child {
  margin-top: 3px;
  font-size: 20px;
  font-weight: 700;
}
.x {
  background-color: var(--color-tow);
}
.ties {
  background-color: #aac1cb;
}
.o {
  background-color: var(--color-one);
}
.new-game-modal {
  height: 100%;
  display: grid;
  place-items: center;
}
.new-game-modal .xo {
  box-shadow: none;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.new-game-modal form {
  color: var(--color-text);
  font-weight: 600;
  background-color: var(--base-light);
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.new-game-modal form p {
  text-align: center;
  font-size: 14px;
}
.form-raw-mark {
  background-color: var(--base);
  margin-top: 15px;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}
.form-raw-mark [type="radio"] {
  opacity: 0;
  display: none;
  position: fixed;
  width: 0;
}

.form-raw-mark label {
  flex: 1;
  color: var(--color-text);
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 1000;
  -webkit-tap-highlight-color: transparent;
}
.form-raw-mark input[type="radio"]:checked + label {
  background-color: #a8bec9;
  color: var(--base);
}

.new-game-modal .buttons {
  margin-top: 30px;
}
.new-game-modal .buttons button {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 10px;
  font-family: inherit;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  font-weight: 600;
  cursor: pointer;
  color: var(--base);
}
.new-game-modal .buttons :first-child {
  background-color: var(--color-one);
}
.new-game-modal .buttons :last-child {
  background-color: var(--color-tow);
}
.restart-modal,
.winner-modal {
  background-color: var(--base-light);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 10px;
  width: 100%;
  position: absolute;
  top: 30%;
}
.restart-modal .buttons {
  margin-top: 20px;
}
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.restart-modal button,
.winner-modal button {
  padding: 12px 36px;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  color: var(--base);
}
.restart-modal .buttons button:first-child,
.winner-modal .buttons button:first-child {
  background-color: var(--color-one);
}
.restart-modal .buttons button:last-child,
.winner-modal .buttons button:last-child {
  background-color: var(--color-tow);
}
.winner-modal .winner {
  font-size: 40px;
  text-align: center;
  font-weight: 1000;
  margin: 10px 0;
  color: var(--color-text);
}
.X {
  color: var(--color-tow);
}
.O {
  color: var(--color-one);
}
.tie {
  color: var(--color-text);
}

footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: var(--base-light);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
footer a .icon {
  width: 20px;
  height: 20px;
}
.block {
  pointer-events: none;
}
.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
  .grid {
    height: 350px;
  }
  .grid > div {
    font-size: 70px;
  }
}
